SYMFONY__ENV=dev
SYMFONY__SECRET={secret}

MAIL_TRANSPORT=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=

MYSQL_HOST=mysql
MYSQL_PORT=null
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

COMPOSER_ALLOW_SUPERUSER=1
